{% extends 'public/base.html' %}

{% block title %}
homepages
{% endblock  %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-3">
            <div class="list-group">
                <div class="list-group">
                <a href="" class="list-group-item list-group-item-action bg-danger text-white text-center">Category</a>
                {% for c in cat %}
                    <a href="{% url 'cat' c.slug %}" class="list-group-item list-group-item-action">{{ c.title }}</a>
                {% endfor %}
            
                </div>
            </div>
        </div>

        
        <div class="col-lg-9">
        <div class="col-lg-12 mt-4 text-center">
        <h2>{{ item.title}}</h2>
        </div>
        <div class="row mt-4">
          
            <div class="col-lg-3">
                <div class="card border-0">
                <img src="{{ item.image.url}}" class="border border-muted"  style="object-fit:cover; height:200px" alt="">
              <div class="card-body"></div>
                
              
          
                </div>
            </div>

            <div class="col-lg-9">
            <table class="table">
  
                <tr>
                    <td>Category</td>
                    <td>{{ item.category }}</td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>{{item.brand}}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><h4>Rs {{ item.discount_price }}/-</h4><small>Rs <del> {{item.price}}</del>/-</small></td>
                </tr>

             </table>
             <div class="row">
             <div class="col-lg-6">
             <a href="{% url 'add-to-cart' item.slug %}" class="btn btn-success btn-lg py-2 text-white  w-100"><i class="fas fa-shipping-fast"></i>Buy Now</a>
             </div>
            <div class="col-lg-6">
             <a href="" class="btn btn-warning btn-lg py-2 text-white w-100">Add to card</a>
             </div>
             </div>
            
            </div>
            <div class="row mt-3">
            <div class="card">
            <div class="card-header">Description</div>
            <div class="card-body">
            <p>
            <div class="row">
                <div class="col-lg-8">
                <p>{{item.description}}</p>
                </div>
            </div>
             
            </div>
            
            
            </div>
            </div>
           
        </div>
        
       
        </div>
     
    </div>
</div>
{% endblock  %}

